.title{
  display: flex;
  margin-right: 45px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.company,
  .navigation{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.header{
  display: flex;
  margin-right: auto;
  border: 1px solid black;
  padding-right: 800px;
  padding-left: 20px;
}

.company{
  color: MediumAquamarine;
}

.content{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;


}

.column.large{
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.column.medium{
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.column.small{
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.article{
  border: 1px solid black;
}
