.title{
  display: flex;
  margin-right: 45px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;

  background-color: white;
}

.company,
  .navigation{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.header{
  display: flex;
  margin-right: auto;
  border: 1px solid black;
  padding-right: 800px;
  padding-left: 20px;
}

.company{
  color: MediumAquamarine;
}

.content{

  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding-top: 50px;


}

.column.large{
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

}

.column.medium{
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.column.small{
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.article{
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.article.main-story{
  background-image: url("https://raw.githubusercontent.com/AJ-2018/MyTimes/master/resources/images/main-story.png");
  height: 300px;
  display: flex;


}


.article.cats{
  background-image: url("https://raw.githubusercontent.com/AJ-2018/MyTimes/master/resources/images/cat.png");
  height: 300px;
  display: flex;
}

.article.earth{
  background-image: url("https://raw.githubusercontent.com/AJ-2018/MyTimes/master/resources/images/fall.png");
  height: 300px;
  display: flex;
}

.article.cameras{
  background-image: url("https://raw.githubusercontent.com/AJ-2018/MyTimes/master/resources/images/cameraman.png");
  height: 300px;
  display: flex;

}

.article-title {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 0;
  text-align: center;

}

.article-maintitle{
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: 0;
}
